body,
html {
  font-family: Arial;
  background-color: white;
}
h1,
h2 {
  font-size: 30px;
  font-weight: normal;
  color: white;
  margin-bottom: 15px;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  color: white;
}

#top_welcome {
  background-image: url("images/bandBackground_resize.jpg");

  min-height: 950px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 320px;
  box-sizing: border-box;
  margin-bottom: 0;
}

#top_welcome p {
  color: white;
  margin: 0 auto;
}

.left_header {
  display: flex;
  position: fixed;
  color: white;
  top: 40px;
  left: 50px;
  font-size: 15px;
  width: auto;
  z-index: 100;
}
.left_header a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.left_header a:hover {
  text-decoration-line: underline;
  color: whitesmoke;
}

.right_header {
  display: flex;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 100;
}

.right_header img {
  height: 20px;
  width: auto;
  padding-left: 10px;
}

#contant_album {
  background-image: url("images/bandBackground_resize.jpg");

  height: 500px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100 auto;
  margin-top: 0;
  text-align: center;
  padding-top: 250px;
  box-sizing: border-box;
}

#contant_album img {
  position: relative;
  padding-top: 103px;
  display: flex 50%;
  height: 400px;
  width: auto;
  object-fit: cover;
  object-position: 50% 100%;
  z-index: 50;
}

#contant_album p {
  position: relative;
  display: flex 50%;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

#contant_album a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px;
}

.contant_center {
  position: relative;
  display: flex 50%;

  text-align: center;
  color: white;
}

.contant_center p {
  position: relative;
  display: flex 50%;
  border: 300px;
  text-align: center;
  color: black;
  padding: 0 20%;
}

#bottom_subscription {
  background-image: url("images/bandBackground_resize.jpg");

  height: 1080px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 400px;
  box-sizing: border-box;
  margin-top: 550px;
}

.bottom_center {
  position: relative;
  display: flex 50%;

  text-align: center;
  color: white;
}

.bottom_center p {
  position: relative;
  display: flex 50%;
  border: 300px;
  text-align: center;
  color: white;
  padding: 0 20%;
}

.bottom_center input[type="submit"] {
  color: white;

  border: 1px solid white;
  background-color: transparent;
  box-shadow: none;
  padding: 30;
}

footer {
  background-color: rgb(141, 141, 141);
  margin-top: 0px;
  padding: 10px 15px;
  color: white;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration-line: underline;
  color: white;
}

footer .right_header {
  justify-content: center;
  top: 0;
  right: auto;

  position: relative;

}

footer .right_header img {
  max-height: 20px;
  position: relative;
  padding-right: 5px;
  padding-left: 5px;

}
/* mobile media queries*/

@media (max-width: 800px) {
  #top_welcome {
    background-position: center;
  }

  h1,
  h2 {
    font-size: x-large;
  }

  .header {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .left_header {
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    width: auto;
    position: fixed;
  }
  .right_header {
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 20px;
    position: relative;
  }
  .right_header img{
    padding-right: 5px;
    padding-left: 5px;            
    
}
  #contant_album {
    padding-top: 150px;
  }
  #contant_album p{
    width: auto;
    text-align: center;
  }

  #contant_album img {
    height: 250px;
    padding-top: 253px;
    padding-bottom: 20px;
  }

  #bottom_subscription {
    background-image: url("images/bandBackground_resize.jpg");

    height: 600px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 160px;
    box-sizing: border-box;
    margin-top: 600px;
  }

  footer .right_header {
    visibility: visible;

}

  footer .right_header img {
    max-height: 20px;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;

}
}
